.recipe-notes {
  background: rgb(37, 37, 37);
}

.notes {
  margin-top: 90px;
  height: 25%;
  padding: 20px;
}

.note {
  background: #fff;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: #f88651;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.form {
  position: relative;
  width: 600px;
  margin: 32px auto 50px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(122, 122, 122);
}

.form input {
  width: 100%;
  border: none;
  margin: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1.1rem;
  font-family: sans-serif;
  resize: none;
}

.form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

.form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  background: #04fd10;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.count{
  height: 0px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count h3 {
  font-size: 15px;
  color: #ccc;
}
