body {
    margin: 0;
}

.CodeMirror {
    height: 100% !important;
}

.top-pane {
    background-color: rgb(61, 61, 61);
}

.pane {
    height: 50vh;
    display: flex;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: rgb(61, 61, 61);
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
}

.editor-container.collapsed {
    flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expand-collapse-btn {
    margin-left: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}