body {
  height: 100vh;
  width: 100%;
}

.App {
  min-height: 200vh;
  width: 100%;
  padding: 0px;
  margin-top: -80px;
}

h1 {
  margin: 0px;
}

p {
  font-weight: bold;
}

.App span{
  font-weight: bold;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.search-form {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 70%;
  border: none;
  background-color: rgb(225, 225, 228);
  border-bottom: 2px solid #1687a7;
  padding: 10px;
}

.search-button {
  background-color: #1687a7;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
}

.search-button:hover {
  background-color: #00B0FF;
  color: white;
  transition: 1s;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special {
  margin-top: 130px;
  padding: 50px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.special h2 {
  font-size: 30px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}